:root {
    /* Main Color Palette from https://coolors.co/palette/386641-6a994e-a7c957-f2e8cf-bc4749 */
    --body: white;
    --primary-text: black;
    --secondary-text: rgb(82, 82, 82);
    --primary: #0c5586;
    --on-primary: white;
    --primary-on-hover: #0b314b;
    --error: #ff0000;
    
    --div-bg: #0000001e;
}
