body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: var(--body);
    color: var(--primary-text);
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    column-gap: 20px;
    margin-bottom: 8px;
    margin-top: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: var(--div-bg);
}

.title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin: 16px;
}

.home-btn {
    font-size: 24px;
    padding: 16px;
    background-color: var(--primary);
    color: var(--on-primary);
    border: none;
    border-radius: 999px;
    transition: background-color 0.1s;
    transition: color 0.1s;
}
.home-btn:hover {
    background: var(--primary-on-hover);
}

.license-text {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--secondary-text);
    margin-top: 0px;
    margin-bottom: 8px;
}

.download-items {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.download-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    gap: 6px;
    border: none;
    border-radius: 6px;
    background-color: var(--div-bg);
    transition: background-color 0.2s;
}

.download-item:hover {
    background-color: var(--div-bg-on-hover);
}

.item-name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    margin: 0px;
    color: var(--primary-text);
}

.download-button {
    font-size: 16px;
    padding: 8px;
    margin: 0px;
    width: 120px;
    background-color: var(--secondary);
    color: var(--on-secondary);
    border: none;
    border-radius: 999px;
    transition: background-color 0.1s;
    transition: color 0.1s;
}
.download-button:hover {
    background: var(--secondary-on-hover);
}